@media (min-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .card-container {
        width: calc(100% - 2rem);
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #text-hide {
        display: none;
    }

    .card-top,
    .card-bottom {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}